html {
  font: 400 1em/1.4 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  color: #404040;
  text-rendering: optimizeLegibility;
}


.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
	/*justify-content: space-around;*/
}

.wrapper > * {
	padding: 0 10px;
	flex: 1 100%;
}

.header,
.post,
.sidebar-left,
.footer {
	flex: 1 100%;
}

.header {
	color: grey;
}

.footer {
	background-color: grey;
}

.sidebar {
	background-color: grey;
}

.post {
	text-align: left;
}

.post p {
	margin: 0 0 1.5em;
}
















@media all and (min-width: 600px) {
  .sidebar { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .post { flex: 4 0px; }
  
  .sidebar-left { order: 1; }
  .post    { order: 2; }
  .sidebar-right { order: 3; }
  .footer  { order: 4; }
}	

body {
	padding: 2em;
}

